## Exercise 6: Choosing the best performing model on a dataset

Instructions:

- Use the Dataset File to train your model
- Use the Test File to generate your results
- Use the Sample Submission file to generate the same format
- Use all Regression models

Submit your results to:
https://www.kaggle.com/competitions/house-prices-advanced-regression-techniques/overview

In [120]:
import pandas as pd
import seaborn as sns

from matplotlib import pyplot as plt
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
from sklearn import svm

## Dataset File

In [109]:
train_data = 'https://github.com/robitussin/CCMACLRL_EXERCISES/blob/3fd7d51ffd17863598ac3f44eeefc558171a5b73/dataset/house-prices-advanced-regression-techniques/train.csv?raw=true'
df = pd.read_csv(train_data)

## Test File

In [110]:
test_url = 'https://github.com/robitussin/CCMACLRL_EXERCISES/blob/3fd7d51ffd17863598ac3f44eeefc558171a5b73/dataset/house-prices-advanced-regression-techniques/test.csv?raw=true'
dt=pd.read_csv(test_url)

In [111]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1455 non-null   object
 3   LotFrontage    1232 non-null   float64
 4   LotArea        1459 non-null   int64
 5   Street         1459 non-null   object
 6   Alley          107 non-null    object
 7   LotShape       1459 non-null   object
 8   LandContour    1459 non-null   object
 9   Utilities      1457 non-null   object
 10  LotConfig      1459 non-null   object
 11  LandSlope      1459 non-null   object
 12  Neighborhood   1459 non-null   object
 13  Condition1     1459 non-null   object
 14  Condition2     1459 non-null   object
 15  BldgType       1459 non-null   object
 16  HouseStyle     1459 non-null   object
 17  OverallQual    1459 non-null   int64
 18  OverallCond    1459 non-null   int64
 19  YearBuilt      1459 non-null   int64
 20  YearRemodAdd   1459 non-null   int64
 21  RoofStyle      1459 non-null   object
 22  RoofMatl       1459 non-null   object
 23  Exterior1st    1458 non-null   object
 24  Exterior2nd    1458 non-null   object
 25  MasVnrType     565 non-null    object
 26  MasVnrArea     1444 non-null   float64
 27  ExterQual      1459 non-null   object
 28  ExterCond      1459 non-null   object
 29  Foundation     1459 non-null   object
 30  BsmtQual       1415 non-null   object
 31  BsmtCond       1414 non-null   object
 32  BsmtExposure   1415 non-null   object
 33  BsmtFinType1   1417 non-null   object
 34  BsmtFinSF1     1458 non-null   float64
 35  BsmtFinType2   1417 non-null   object
 36  BsmtFinSF2     1458 non-null   float64
 37  BsmtUnfSF      1458 non-null   float64
 38  TotalBsmtSF    1458 non-null   float64
 39  Heating        1459 non-null   object
 40  HeatingQC      1459 non-null   object
 41  CentralAir     1459 non-null   object
 42  Electrical     1459 non-null   object
 43  1stFlrSF       1459 non-null   int64
 44  2ndFlrSF       1459 non-null   int64
 45  LowQualFinSF   1459 non-null   int64
 46  GrLivArea      1459 non-null   int64
 47  BsmtFullBath   1457 non-null   float64
 48  BsmtHalfBath   1457 non-null   float64
 49  FullBath       1459 non-null   int64
 50  HalfBath       1459 non-null   int64
 51  BedroomAbvGr   1459 non-null   int64
 52  KitchenAbvGr   1459 non-null   int64
 53  KitchenQual    1458 non-null   object
 54  TotRmsAbvGrd   1459 non-null   int64
 55  Functional     1457 non-null   object
 56  Fireplaces     1459 non-null   int64
 57  FireplaceQu    729 non-null    object
 58  GarageType     1383 non-null   object
 59  GarageYrBlt    1381 non-null   float64
 60  GarageFinish   1381 non-null   object
 61  GarageCars     1458 non-null   float64
 62  GarageArea     1458 non-null   float64
 63  GarageQual     1381 non-null   object
 64  GarageCond     1381 non-null   object
 65  PavedDrive     1459 non-null   object
 66  WoodDeckSF     1459 non-null   int64
 67  OpenPorchSF    1459 non-null   int64
 68  EnclosedPorch  1459 non-null   int64
 69  3SsnPorch      1459 non-null   int64
 70  ScreenPorch    1459 non-null   int64
 71  PoolArea       1459 non-null   int64
 72  PoolQC         3 non-null      object
 73  Fence          290 non-null    object
 74  MiscFeature    51 non-null     object
 75  MiscVal        1459 non-null   int64
 76  MoSold         1459 non-null   int64
 77  YrSold         1459 non-null   int64
 78  SaleType       1458 non-null   object
 79  SaleCondition  1459 non-null   object
dtypes: float64(11), int64(26), object(43)
memory usage: 912.0+ KB

## Sample Submission File

In [112]:
sample_submission_url ='https://github.com/robitussin/CCMACLRL_EXERCISES/blob/3fd7d51ffd17863598ac3f44eeefc558171a5b73/dataset/house-prices-advanced-regression-techniques/sample_submission.csv?raw=true'

sf=pd.read_csv(sample_submission_url)

In [113]:
sf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id         1459 non-null   int64
 1   SalePrice  1459 non-null   float64
dtypes: float64(1), int64(1)
memory usage: 22.9 KB

In [114]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [115]:
df.isnull().sum()

Id                 0
MSSubClass         0
MSZoning           0
LotFrontage      259
LotArea            0
                ...
MoSold             0
YrSold             0
SaleType           0
SaleCondition      0
SalePrice          0
Length: 81, dtype: int64

## 1. Train a KNN Regressor

In [116]:
# put your answer here
knn = KNeighborsRegressor(n_neighbors=5)

X_train = df.drop('SalePrice', axis=1)
y_train = df['SalePrice']

X_train = pd.get_dummies(X_train)

X_test = pd.get_dummies(dt)
X_train, X_test = X_train.align(X_test, join='inner', axis=1, fill_value=0)

X_train = X_train.fillna(X_train.mean())
X_test = X_test.fillna(X_test.mean())


knn.fit(X_train, y_train)
print("KNN Regressor trained successfully.")

knn_score = knn.score(X_train, y_train)
print(f"KNN Regressor score on training data: {knn_score}")

KNN Regressor trained successfully.
KNN Regressor score on training data: 0.7741275649996193

- Perform cross validation

In [118]:

# put your answer here

from sklearn.model_selection import cross_val_score
scores = cross_val_score(knn, X_train, y_train, cv=5)


print("%0.2f accuracy with a standard deviation of %0.2f" % (scores.mean(), scores.std()))

0.63 accuracy with a standard deviation of 0.05

In [ ]:
# put your answer here

## 2. Train a SVM Regression

In [123]:

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.4, random_state=0)

X_train.shape, y_train.shape

X_test.shape, y_test.shape

clf = svm.SVC(kernel='linear', C=1).fit(X_train, y_train)
clf.score(X_test, y_test)

SVM Regressor trained successfully.
SVM Regressor score on test data: 0.6752639509311

- Perform cross validation

In [124]:
# put your answer here
from sklearn.model_selection import cross_val_score

scores = cross_val_score(svr, X_train, y_train, cv=5)

print("%0.2f accuracy with a standard deviation of %0.2f" % (scores.mean(), scores.std()))

-0.06 accuracy with a standard deviation of 0.05

## 3. Train a Decision Tree Regression

In [125]:

# put your answer here
from sklearn.tree import DecisionTreeRegressor

dt_reg = DecisionTreeRegressor()
dt_reg.fit(X_train, y_train)
print("Decision Tree Regressor trained successfully.")

dt_reg_score = dt_reg.score(X_train, y_train)
print(f"Decision Tree Regressor score on training data: {dt_reg_score}")

Decision Tree Regressor trained successfully.
Decision Tree Regressor score on training data: 1.0

- Perform cross validation

In [126]:

# put your answer here
from sklearn.model_selection import cross_val_score

scores = cross_val_score(dt_reg, X_train, y_train, cv=5)

print("%0.2f accuracy with a standard deviation of %0.2f" % (scores.mean(), scores.std()))

0.68 accuracy with a standard deviation of 0.09

## 4. Train a Random Forest Regression

In [127]:

# put your answer here
from sklearn.ensemble import RandomForestRegressor

rf_reg = RandomForestRegressor(n_estimators=100, random_state=42)
rf_reg.fit(X_train, y_train)
print("Random Forest Regressor trained successfully.")

rf_reg_score = rf_reg.score(X_train, y_train)
print(f"Random Forest Regressor score on training data: {rf_reg_score}")

Random Forest Regressor trained successfully.
Random Forest Regressor score on training data: 0.9783656754035073

## 5. Compare all the performance of all regression models

In [128]:
# put your answer here
# put your answer here
print("Model Performance Comparison:")
print("-----------------------------")
print(f"KNN Regressor Training Score: {knn_score:.2f}")
print(f"KNN Regressor Cross-Validation Score: {scores.mean():.2f} (+/- {scores.std():.2f})")
print(f"SVM Regressor Training Score: {svr_score:.2f}")
# Assuming you will add cross-validation for SVM later, for now just show training score
# print(f"SVM Regressor Cross-Validation Score: {svm_scores.mean():.2f} (+/- {svm_scores.std():.2f})")
print(f"Decision Tree Regressor Training Score: {dt_reg_score:.2f}")
print(f"Decision Tree Regressor Cross-Validation Score: {scores.mean():.2f} (+/- {scores.std():.2f})") # Note: This is using the last calculated scores (Decision Tree)
print(f"Random Forest Regressor Training Score: {rf_reg_score:.2f}")
# Assuming you will add cross-validation for Random Forest later, for now just show training score
# print(f"Random Forest Regressor Cross-Validation Score: {rf_scores.mean():.2f} (+/- {rf_scores.std():.2f})")

Model Performance Comparison:
-----------------------------
KNN Regressor Training Score: 0.77
KNN Regressor Cross-Validation Score: 0.68 (+/- 0.09)
SVM Regressor Training Score: -0.05
Decision Tree Regressor Training Score: 1.00
Decision Tree Regressor Cross-Validation Score: 0.68 (+/- 0.09)
Random Forest Regressor Training Score: 0.98

## 6. Generate Submission File

Choose the model that has the best performance to generate a submission file.

In [131]:
# put your answer here
if 'Id' in sf.columns:
  id = sf.pop('Id')
else:
  # Assuming 'Id' is still in the original test dataframe 'dt' if it's not in 'sf'
  id = dt['Id']

# Assuming the best model is rf_reg based on previous steps
model = rf_reg

# Use the full preprocessed test data for prediction
# Drop the 'Id' column from the processed test data before predicting
X_test_submission = dt_processed.drop('Id', axis=1)
y_pred = model.predict(X_test_submission) # Use the full processed test data for prediction


# Create a submission DataFrame
submission_df = pd.DataFrame({
    'Id': id,
    'SalePrice': y_pred # Column name should be 'SalePrice' based on sample_submission.csv
})

# Save the submission DataFrame to a CSV file
submission_df.to_csv('submission_file.csv', index=False)
print("Submission file created: submission_file.csv")

Submission file created: submission_file.csv

In [129]:
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores.mean(), scores.std()))

0.68 accuracy with a standard deviation of 0.09

# Task
The user wants to train and evaluate multiple regression models (KNN, SVM, Decision Tree, and Random Forest) on a dataset, compare their performance, and generate a submission file using the best-performing model. The dataset is available in two CSV files: "train.csv" and "test.csv".

## Preprocess data

### Subtask:
Convert categorical features in both the training and testing datasets into a numerical format using techniques like one-hot encoding. Handle any missing values that may have been introduced or are present in the original data.

**Reasoning**:
Identify categorical columns and apply one-hot encoding to both training and test data. Handle missing values after encoding using the mean imputation strategy for numerical columns. Ensure consistency in columns between training and test sets after one-hot encoding.

# Task
Fix the `ValueError: could not convert string to float: 'RL'` in the notebook.

## Preprocess data

### Subtask:
Convert categorical features in both the training and testing datasets into a numerical format using techniques like one-hot encoding. Handle any missing values that may have been introduced or are present in the original data.

**Reasoning**:
Identify categorical columns, concatenate training and testing data, apply one-hot encoding, split back into training and testing sets, handle missing values by mean imputation, and align columns.

## Train knn regressor

### Subtask:
Train a KNN Regressor model on the preprocessed training data.

**Reasoning**:
Train a KNN Regressor model using the preprocessed training data.